/* Styles for header and footer of restaurant page */

#header{
    font-weight: bold;
    background: #000080;
    color: #ffffff;
    border: 1px solid #006666;
}

#footer{
    font-weight: bold;
    background: #000080;
    color: #ffffff;
    border: 1pm solid #006666;

}


