/* Styles for header and footer of restaurant page */

#header{
    font-weight: bold;
    background: #999966;
    color: #ffffff;
    border: 1px solid #006666;
}

#footer{
    font-weight: bold;
    background: #999966;
    color: #ffffff;
    border: 1pm solid #006666;

}

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/gloriahallelujah/v8/CA1k7SlXcY5kvI81M_R28bhi4u8Y7RaAY_ljmVkqsb8.woff);
}

h1 {
    font-family: Gloria Hallelujah;
    color: #1f1f14;
}

 td {
      font-style: italic;
      color: #660033;
      background: #ffe6cc;
      font-size: smaller;
 }

 th {
     font-style: italic;
     color: brown;
     background: #fff2e6;
     font-size: larger;
 }

 .main {
     background: #e6ccb3;
 }
