/* Styles for Restaurant Site v 4 pages*/
 a {
    font-family: monospace;
    font-weight: none;
    background: #ffffff;
    font-size: larger;
    padding: 7px;
    text-decoration: underline;
 }
 a:link {
     color: blue;
 }

 a:visited {
     color: red;
 }

 a:hover {
     color: blue;
     font-weight: bold;
 }

 a:active {
     color: blue;
     text-decoration: none;
 }

#header{
    font-weight: none;
    background: #bfbfbf;
    color: #ffffff;
}

#footer{
    font-weight: bold;
    background: #bfbfbf;
    color: #ffffff;
}

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/gloriahallelujah/v8/CA1k7SlXcY5kvI81M_R28bhi4u8Y7RaAY_ljmVkqsb8.woff);
}

h1 {
    font-family: Gloria Hallelujah;
    color: #1f1f14;
}

 td {
      font-style: italic;
      color: white;
      background: #3333ff;
      font-size: smaller;
      text-align: center;
 }

 th {
     font-style: italic;
     color: black;
     background: #ccccff;
     font-size: larger;
 }

 .main {
     background: #f2f2f2;
 }


 