/* CSS file for Album Page V3 Lab */

#bandMembers {
    font-style: italic;
    color: gray;
    font-weight: 800;
    font-family: fantasy;
}

h1, h2 {
    font-family: Gloria Hallelujah;
    color: navy;
}

.image {
    background-image:url("https://images.rapgenius.com/617dc810ce5d396c8ce0bcab6831dcb2.500x500x1.png");
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/gloriahallelujah/v8/CA1k7SlXcY5kvI81M_R28bhi4u8Y7RaAY_ljmVkqsb8.woff);
}